@font-face {
	font-family: gotham;
	src: url(gotham.otf);
}

html,body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	box-sizing:border-box
}

ul.topnav {
     list-style-type: none;
    margin: 0;
	width: 100%;
	height: 50px;
    position: fixed;
    top: 0%;
    padding: 0;
    overflow: hidden;
	background-color: #009b7c;
    z-index: 1;
    display: inline-block;
}

ul.topnav li {float: right;
	margin-top: 15px;
}

ul.topnav li a {
	display: block;
	color: rgb(255, 255, 255);
	width: 100px;
    text-align: center;
	margin: 0;
	text-decoration: none;
}
ul.topnav li a p{
	margin: 0 5%;
	font-family: gotham;
	font-size: 15px;
}

ul.topnav li h3{
	color: white;
	margin: 0;
}

ul.topnav .menu{
	width: 20px;
	height: 20px;
	padding-left: 93%;
	padding-top: 50px;
	display: none;
  }

ul.topnav .dropdown_menu{
	display: none;
	position: fixed;
	background-color: #f9f9f9;
	width: 18%;
	height: 200px ;
	top: 50px;
	left: 75%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 3;
}

ul.topnav #dropdown_menu a{
	color: black;
	text-align: center;
	text-decoration: none;
	display: block;
}

ul.topnav li a:hover {
	color: rgb(0, 210, 168);
}



ul.topnav li a.actives{
	color:  rgb(0, 210, 168);
	background-color: #009b7c;
	margin-right: 0px;
}

/* div do slideshow*/
.slideshow-container {
	top: 50px;
	width: 100%;
	position: absolute;
	margin: 0 0;
	overflow: hidden;
}

/* esconder as imagens que não estão selecionadas*/
.mySlides {
	display: none;
}

/* botão de voltar e avançar */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* posicao do botao de voltar e avançar imagem */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* background do botao de avançar e voltar imagem quando o mouse passa */
.prev:hover, .next:hover {
	background-color:  #009b7c;
}

/* numero da imagem */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.divdot{
	top: 530px;
	left: 50%;
	width: 60px;
	margin-left: -30px;
	position:absolute;
}

/* indicador de slide das imagens */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	top: 1310px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/* background do indicador de slide das imagens quando ativo ou com mouse em cima */
.active, .dot:hover {
	background-color: rgb(0, 210, 168);
}

/* animação da imagem aparecendo*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5.5s;
	animation-name: fade;
	animation-duration: 5.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}  

#blocoGaleria{
	top: 600px;   
	left: 4%;
	right: 4%;      
	height: auto;
	width: 92%;
	position: absolute;
}

.titulos{        
	height: 45px;
	position: relative;
	border-bottom: 0.5px solid #dbdada;
}

#galeria{
	margin-top: 4%;
	height: auto;
	position: relative;
}

.fotos{
	width: 25%;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	position: relative;
	float: left;
	display:block;
	
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px;
	right: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
}

.fotos:hover .overlay {
	opacity: 1;
}

.divtextofotos{
	position: absolute;
	top: 0;
	left: 10px;
	width: 110px;
	height: 30px;
	background-color: black;
}

.textofotos{
	color: white;
	font-size: 15px;
	font-family: verdana;
	text-align: center;
	margin-top: 5px;
}

.blocoAbout{
	top:1340px;    
	left: 4%;
	right: 4%;         
	height: auto;
	width: 92%;
	position: relative;
}

#textoAbout{
	position: absolute;
	width: 100%;
	text-align: justify;
	font-size: 20px;
	margin-top: 35px;
}

.fotoAbout{
	width: 33%;
	margin:0 auto ;
	position: relative;
	top: 260px;
	float: left;
}

.contato{
	text-align: center;
	position: relative;
}
  
.email{
	position: absolute;
	width: 92%;
	height: 500px;
	left: 4%;
	top: 2340px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;
}


input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #000000;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=submit]:hover {
	background-color:  #009b7c;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

#fnotific:hover{
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.popup{
	position: fixed;
	top: 101px;
	left: 25%;
	width: 50%;
	height: 300px;
	padding: 15px;
	border: solid 1px  rgb(10, 10, 10) ;
	background-color:   #009b7c;
	display:none;
	z-index: 2;
}

.closePopUp{
	position: relative;
	float: right;
	margin: 2px 2px;
}

/* texto dentro do rodapé */
.texto{
	margin-top:0;
}

/* div rodapé */
ul.rodape {
  list-style-type:none;
  position: absolute;
  top: 2840px;
  bottom:0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  padding-inline-start: 0px;
  background-color:  #009b7c;
  overflow: hidden;
}

/* bloco dentro do rodapé */
li.rodape {
  display: block;
  color: #000;
  text-align: center;
  padding: 8px 16px;
  float: left;
  text-decoration: none;
}

@media (max-width: 950px) {
	ul.topnav .menu{
	  display: block;
	}
	ul.topnav li a{
	  display: none;
    }
    .fotos{
        width: 33.3%;
    }
}